<footer
  class="footer bg-dark py-3"
  style="position: fixed; bottom: 0px; right: 0px; left: 0px"
>
  <div class="container">
    <span class="text-light"> &copy; Uni Collab 2024</span>
  </div>
</footer>
