<% layout("boilerplate.ejs") %>
<div class="container">
  <br />
  <br />
  <h1>Unleash the power of together: Learn more about UNI COLLAB</h1>
  <div class="row my-5">
    <p style="font-family: Fenix, sans-serif; font-size: 1.5rem">
      Welcome to the future of collaboration! Here at <span>Uni Collab</span>,
      we believe that by working together, we can achieve more than we ever
      could alone. Our application is designed to streamline the collaboration
      process, making it easier than ever to connect with others, share ideas,
      and bring your projects to life.
    </p>
    <img
      src="images/collaboration.jpeg"
      alt=""
      class="img-fluid collaboration"
    />
    <h2 class="my-3">The Benefits of Collaboration</h2>

    <p style="font-size: 1.1rem">
      Collaboration isn't just a buzzword; it's a powerful tool that can unlock
      incredible potential. Here are just a few of the benefits you can expect
      by working together: <br />
      <b>Enhanced Creativity:</b> When diverse minds come together, new ideas
      and innovative solutions are born. <br />
      <b>Improved Productivity:</b> By dividing tasks and leveraging each
      other's strengths, teams can accomplish more in less time. <br />
      <b>Better Problem-Solving:</b> Multiple perspectives can help identify and
      overcome challenges more effectively. <br />
      <b>Increased Knowledge Sharing:</b> Collaboration fosters learning and
      development within teams. <br />
      <b>Stronger Relationships:</b> Working together builds trust and
      camaraderie.
    </p>

    <h2 class="my-3">How Uni Collab works</h2>
    <p style="font-size: 1.1rem">
      Uni Collab allows users to post for assistance or collaborations on their
      projects. <br />
      Users can view any open projects or ideas to work on by browsing through
      the Collab page. <br />
      If you find a Project you are interested to work on or find something that
      requires a particular skillset that you possess, contact the user who's
      looking for collaborations and get going.
    </p>
  </div>
</div>
