<% layout('boilerplate.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card">
        <img
          class="card-img-top mx-auto"
          src="images/serenity.jpg"
          alt=""
          style="width: 18rem"
        />
        <div class="card-body">
          <h5>Sorry! We could not find the page that you've requested for..</h5>
        </div>
      </div>
    </div>
  </div>
</div>
