<% layout("boilerplate.ejs") %>
<div class="row">
  <div class="col-md-6 order-md-1 collab-image">
    <img
      src="/images/peopleCollab.jpg"
      alt="people collaborating"
      class="m-auto img-fluid"
      id="peopleCollaborating"
    />
  </div>
  <div class="col-md-6 order-md-0 main-text mt-0">
    <h1 class="mx-5 my-5 text-center main-text">
      Looking for a <span>Team</span>? <br />
      or maybe... <br />
      a <span>Team Member</span>?
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 second-text">
    <p>
      ....we got you covered. <br />
      Look for Collaborations in you college using Uni Collab
    </p>
    <a href="/aboutus">
      <button class="btn btn-warning cta">About Us</button>
    </a>
    <a href="/login">
      <button class="btn btn-primary">Login</button>
    </a>
  </div>
</div>
