<% layout("boilerplate.ejs") %>
<div class="row">
  <img
    src="../images/roboMascot.png"
    alt="roboMascot"
    class="img-fluid roboMascot m-auto my-5"
  />
  <p class="text-center">
    Seems like there are no projects that currently need Collaboration....
  </p>
</div>
