<% layout("boilerplate.ejs") %>
<div class="row">
  <img
    src="../images/roboMascot.png"
    alt="roboMascot"
    class="img-fluid roboMascot m-auto my-3"
  />
  <p
    class="text-center"
    style="font-family: Fenix, sans-serif; font-size: 1.5rem"
  >
    Seems like you did not post for any Collab... Why don't you make one now ?
  </p>
  <div class="text-center">
    <a href="/collab/new">
      <button class="btn btn-warning">Create Collab</button>
    </a>
  </div>
</div>
